{% extends 'main.html' %}
{% block content %}

{% if request_user_role == 'supervisor' %}

<p><a href="{% url 'staff:create flight' %}">Create new flight</a></p>

{% if empty %}
<p>There's no flights yet.</p>
{% else %}

{% for flight in flights %}

{% if not flight.is_canceled %}

<p>
    <a href="{% url 'staff:flight details' flight.id %}">{{flight}}</a>
</p>

<p>
    <a href="{% url 'staff:cancel flight' flight.id %}">Cancel flight</a>
</p>

{% endif %}

{% endfor %}
{% endif %}


<a href="{% url 'staff:canceled flights' %}">View canceled flights.</a>

{% else %}
<h2>Only supervisors can access this page.</h2>
{% endif %}

{% endblock %}