{% extends 'main.html' %}
{% block content %}

{% if request_user_role == 'supervisor' %}

<div class="card" style="width: 36rem;">
    <div class="card-body">

        <h5 class="card-title">
            {{flight}}
        </h5>
        </br>
        <p><b>Destination:</b> {{flight.get_destination_display}}</p>
        <p><b>Date:</b> {{flight.date.date}}</p>
        <p><b>Passengers allowed:</b> {{flight.passengers}}</p>
        <p><b>Ticket price:</b> {{flight.ticket_price}}$</p>

        <p><b>Luggage options:</b>
            {% for item in luggage %}
            {{item.get_quantity_display}}, {{item.price}}$;
            {% endfor %}

        </p>
        <p><b>Extra luggage price:</b> {{flight.extra_luggage_price}}$</p>
        <p><b>Lunch options:</b>
            {% for item in lunch %}
            {{item.description}}, {{item.price}}$;
            {% endfor %}
        </p>

        {% if flight.is_canceled %}
        <p><b class="text-danger">Canceled.</b></p>
        {% else %}
        <a href="{% url 'staff:cancel flight' flight.id %}" class="btn btn-danger">Cancel flight</a>
        {% endif %}

        <br/>
    </div>
</div>

</br>
<a href="{% url 'staff:flights' %}" class="btn btn-outline-secondary">Back to flight list</a>


{% else %}
<h2>Only supervisors can access this page.</h2>
{% endif %}

{% endblock %}