{% extends  "main.html" %}
{% block content %}

{% if request.user.is_airlines_staff %}

    {% if role %}

    <ul class="list-group list-group-flush">

        {% if role == 'supervisor' %}

            <li class="list-group-item">
                <a href="{% url 'staff:staff list' %}" class="text-decoration-none text-body">Staff list</a>
            </li>

            <li class="list-group-item">
                <a href="{% url 'staff:flights' %}" class="text-decoration-none text-body">Flights</a>
            </li>

            <li class="list-group-item">
                <a href="{% url 'staff:lunch options' %}" class="text-decoration-none text-body">Lunch options</a>
            </li>

            <li class="list-group-item">
                <a href="{% url 'staff:luggage options' %}" class="text-decoration-none text-body">Luggage options</a>
            </li>

        {% endif %}

        {% if role == 'supervisor' or role == 'checkin_manager' %}
            <li class="list-group-item">
                <a href="{% url 'staff:checkin list' %}" class="text-decoration-none text-body">Check-in list</a>
            </li>
        {% endif %}

        {% if role == 'supervisor' or role == 'gate_manager' %}
             <li class="list-group-item">
                <a href="{% url 'staff:gate list' %}" class="text-decoration-none text-body">Gate list</a>
            </li>
        {% endif %}

    </ul>

    {% else %}
        <h3>You do not have a role yet. Please, contact your supervisor.</h3>
    {% endif %}

{% else %}
    <h2>You do not have access to this page.</h2>
{% endif %}

{% endblock %}