{% extends  "main.html" %}
{% block content %}

{% if request.user.is_airlines_staff %}

{% if role %}
<h3>Your role is {{role}}.</h3>
{% else %}
<h3>You do not have a role yet. Please, contact your supervisor.</h3>
{% endif %}

{% if role == 'supervisor' %}

<p>You can
    <a href="{% url 'staff:staff list' %}">see staff list</a>.
</p>

<p> You also can
    <a href="{% url 'staff:flights' %}">see flights</a>.
</p>

<p>
    <a href="{% url 'staff:lunch options' %}">Lunch options.</a>
</p>

<p>
    <a href="{% url 'staff:luggage options' %}">Lunch options.</a>
</p>

{% else %}
<p>Here will be some functioncs</p>
{% endif %}

{% else %}
<h2>You do not have access to this page.</h2>
{% endif %}

{% endblock %}