{% extends  "main.html" %}
{% block content %}

<br/>
<a href="{% url 'passengers:tickets' %}">Book tickets</a>
<br/>

{% if request.user.is_authenticated %}

{% if tickets|length != 0 %}

{% for ticket in tickets %}
<p>
    <a href="{% url 'passengers:view ticket' ticket.id %}">{{ticket}}</a>
</p>
{% endfor %}

{% else %}
<p>You don't have any tickets yet.</p>
{% endif %}

<br/>

<a href="{% url 'accounts:edit profile' %}">Edit profile</a>

{% else %}

<p>
    Already have account?
    <a href="{% url 'accounts:login' %}">Login</a>
    to view detail information on your flight in personal cabinet.
</p>

<p>
    Forgot password? <a href="{% url 'accounts:restore password' %}">Restore</a>
</p>

{% endif %}

{% endblock %}