{% extends  "main.html" %}
{% block content %}

{% if request.user.is_authenticated %}

    <p>Your ticket:</p>

    <p>
        Flight: {{ticket.flight}}
        {% if ticket.flight.is_canceled %}
        Canceled.
        {% endif %}
    </p>
    <p>Quantity: {{ticket.tickets_quantity}}</p>
    <p>Price (per ticket): {{ticket.flight.ticket_price}}$</p>
    <p>Lunch: {{ticket.lunch}}</p>
    <p>Luggage: {{ticket.luggage}}</p>

    <br/>
    <p>Check-in status: {{ticket.get_check_in_display}}</p>
    {% if ticket.check_in == 'no_checkin' or ticket.check_in == 'editing' %}
        <a href="{% url 'passengers:checkin' ticket.id %}">Check-in</a>


    {% elif ticket.check_in == 'completed' %}

        <p>Registration status: {{ticket.get_gate_registration_display}}</p>

        {% if ticket.gate_registration == 'not_registered' %}
            <a href="{% url 'passengers:gate register' ticket.id %}">Register</a>
        {% endif %}

    {% endif %}

{% else %}
    <h2>You need to login to view you tickets details.</h2>
{% endif %}

{% endblock %}