{% extends  "main.html" %}
{% block content %}

{% if request.user.is_authenticated %}

<form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input class="btn btn-primary" type="submit" value="Save"/>
</form>

<br/>
<a href="{% url 'accounts:change password' %}" class="text-decoration-none">Change password</a>
<br/>
<a href="{% url 'passengers:home' %}" class="text-decoration-none text-secondary">Back to profile</a>

{% else %}
<h2>You do not have access to this page.</h2>
{% endif %}

{% endblock %}