<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DjangoAir</title>
    <script src="https://js.stripe.com/v3/"></script>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

</head>
<body>

{% include 'navigation.html' %}

<div class="container">

    {% if messages %}
    <ul class="list-group list-group-flush">
        {% for message in messages %}
        <li class="list-group-item">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <br/>

    {% block content %}
    {% endblock %}
</div>

</body>
</html>