<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">

        <div class="nav">
            <ul class="navbar-nav mr-auto nav-fill d-flex align-items-center">

                <li class="nav-item navbar-brand">
                    <a href="{% url 'passengers:home' %}"  class="nav-link"><h3>Django Air</h3></a>
                </li>
                {% if request.user.is_authenticated %}
                <li class="nav-item mt-3">
                    {% if request.user.first_name %}
                    <p class="nav-link">Welcome, {{request.user.first_name}}</p>
                    {% else %}
                    <p class="nav-link">Welcome</p>
                    {% endif %}
                </li>

                {% if request.user.is_airlines_staff %}
                <li class="nav-item">
                    <a href="{% url 'staff:home' %}"  class="nav-link">Staff interface</a>
                </li>
                {% endif %}

                <li class="nav-item">
                    <a href="{% url 'accounts:logout' %}"  class="nav-link">Logout</a>
                </li>

                {% else %}

                <li class="nav-item">
                    <a href="{% url 'accounts:login' %}"  class="nav-link">Login</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'accounts:register' %}"  class="nav-link">Register</a>
                </li>

                {% endif %}

            </ul>
        </div>
    </div>
</nav>